@import "../../styles/colors.scss";

.itemCardWrapper {
  width: 100%;
  margin-bottom: 10px;
  text-decoration: none;
  border-top: solid #203168 4px;
}

.itemCard {
  height: 225px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.itemDetails {
  position: absolute;
  bottom: 20%;
  max-width: 80%;
}

.favorite {
  color: $favorite;
  margin-right: 8px;
  stroke-width: 2px;
  &:not(.favorited) {
    stroke: $favorite;
    fill: transparent;
    &:hover {
      fill: $favorite;
    }
  }
}

.itemNameWrapper,
.itemPhrase {
  background: rgba(0, 0, 0, 0.5);
  color: $white;
  margin: 0;
  padding: 8px 12px;
}

.itemNameWrapper {
  padding-bottom: 2px;
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.itemName,
.itemPhrase {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemName {
  font-size: 18px;
}

.itemPhrase {
  font-size: 14px;
  padding-top: 2px;
  padding-left: 44px;
}

@media only screen and (min-width: 600px) {
  .itemCardWrapper {
    width: calc(50% - 10px);
    margin: 0 5px;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 800px) {
  .itemCardWrapper.small {
    width: calc(30% - 10px);
  }
  .itemCardWrapper.large {
    width: calc(40% - 10px);
  }
}

@media only screen and (min-width: 1200px) {
  .itemCardWrapper.small {
    width: calc(20% - 10px);
  }
  .itemCardWrapper.large {
    width: calc(40% - 10px);
  }
}
