@import "../../styles/colors.scss";

.backButtonWrapper {
  text-decoration: none;
}

.backButton {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.details {
  border-top: solid 4px;
  position: relative;
}
.itemBadge {
  color: white;
  height: 35px;
  width: 39px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.itemImage {
  height: 250px;
  background-size: cover;
  background-position: center center;
}

.itemHeader {
  border-bottom: solid silver 1px;
  padding: 0 10px;
}

.nameWrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.favorite {
  color: $favorite;
  cursor: pointer;
  margin-right: 4px;
}

.name {
  margin: 0;
}

.phrase {
  color: grey;
  margin-top: 4px;
  margin-bottom: 8px;
  padding-left: 28px;
}

.contact {
  display: flex;
  justify-content: space-around;
  border-bottom: solid silver 1px;
  padding: 10px;
}
.contactType {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-grey;
  text-decoration: none;
}
.contactIcon {
  color: $dark-grey;
}
.contactLabel {
  font-size: 14px;
}

.about {
  padding: 0 10px;
}
.aboutHeader {
  margin-bottom: 0;
}
.aboutContent {
  margin-top: 5px;
}

.mapWrapper {
  display: none;
}

@media only screen and (min-width: 800px) {
  .content {
    display: flex;
  }
  .details {
    width: calc(100% - 360px);
  }
  .mapWrapper {
    display: inline-block;
    margin-left: 10px;
    width: 350px;
    background-color: silver;
    background-size: cover;
    background-position: center center;
  }
}

@media only screen and (min-width: 1200px) {
  .details {
    width: 690px;
    display: flex;
    flex-wrap: wrap;
  }

  .mapWrapper {
    width: 480px;
  }

  .left {
    order: -1;
    margin-top: 25px;
    height: 275px;
    width: 280px;
  }

  .itemHeader {
    padding-left: 14px;
    border: none;
  }
  .nameWrapper {
    margin-top: 15px;
  }
  .name {
    font-size: 22px;
  }
  .phrase {
    margin-top: 2px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    border: none;
  }
  .contactType {
    margin-bottom: 20px;
    flex-direction: row;
  }
  .contactIcon {
    padding-left: 4px;
    margin-right: 7px;
  }

  .social {
    padding: 0 12px;
  }
  .socialIcons {
    display: flex;
    justify-content: space-around;
  }
  .socialIcon {
    color: $dark-grey;
  }

  .itemImage {
    height: 300px;
    width: 410px;
  }
  .about {
    width: 390px;
    margin-left: auto;
  }
}

// TODO: Fix this band-aid
@media only screen and (min-width: 1220px) {
  .mapWrapper {
    width: 500px;
  }
}
