.backButtonWrapper {
  padding: 10px;
}

.backButton {
}

.itemImage {
  height: 250px;
  background-size: cover;
  background-position: center center;
  border-top: solid 4px;
}

.itemHeader {
  border-bottom: solid silver 1px;
}

.name {
  margin-bottom: 0;
}

.phrase {
  color: grey;
  margin: 8px 0;
}
