$white: #ffffff;
$dark-grey: #323232;
$utrip-blue: #00b1dd;

// category colors
$history: #f4730f;
$entertainment: #ffb428;
$art: #6bad9b;
$nature: #368268;
$relaxation: #6498bd;
$shopping: #2d7a99;
$cuisine: #203168;
$food: #d96459;
