.emptyFavorites {
  text-align: center;
}

.gridWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 -5px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
}

@media only screen and (min-width: 600px) {
  .items {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 800px) {
  .emptyFavorites {
    min-width: calc(100% - 360px);
  }

  .gridWrapper.openMap {
    width: calc(100% - 350px);
  }
}

@media only screen and (min-width: 1200px) {
  .emptyFavorites {
    min-width: 700px;
  }

  .items {
    padding: 0;
  }

  .gridWrapper.openMap {
    width: 700px;
    padding-right: 10px;
  }
}
