.hero {
  background-image: url("https://cdn-image.departures.com/sites/default/files/1545062596/quiraing-trotternish-landscape-isle-skye-scotland-uk-SCOT1218.jpg");
  border: 0;
  height: 500px;
  margin: 0;
  display: flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  color: #fff;
}

.heroTitle {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

.actions {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.destinationSearch {
  font-size: 16px;
  width: 175px;
  background: #fff;
  color: rgb(50, 50, 50);
  height: 36px;
  outline: 0px;
  padding: 5px 25px;
  border: none;
}

.actionSeparator {
  font-size: 20px;
  margin: 16px 0;
}

.inspireButton {
  font-size: 16px;
  border: 2px solid #fff;
  color: #fff;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 12px 45px;
  cursor: pointer;
}

.inspireButton:hover {
  background-color: #fff;
  color: rgb(50, 50, 50);
}

.destinations {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

@media only screen and (min-width: 600px) {
  .destinations {
    padding: 5px;
  }
}

@media only screen and (min-width: 800px) {
  .hero {
    height: 600px;
    justify-content: center;
  }

  .heroTitle {
    font-size: 52px;
    margin-top: 0;
  }

  .destinations {
    max-width: 1200px;
    margin: auto;
  }

  .actions {
    flex-flow: row;
  }

  .destinationSearch {
    font-size: 19px;
    width: 206px;
    height: 41px;
  }

  .actionSeparator {
    margin: 0 32px;
  }

  .inspireButton {
    font-size: 20px;
  }
}
