.discoveryHero {
  background-image: url("https://cdn-image.departures.com/sites/default/files/1545062596/quiraing-trotternish-landscape-isle-skye-scotland-uk-SCOT1218.jpg");
  border: 0;
  height: 500px;
  margin: 0;
  display: flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.heroTitle {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.destinations {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

@media only screen and (min-width: 600px) {
  .destinations {
    padding: 5px;
  }
}

@media only screen and (min-width: 800px) {
  .discoveryHero {
    height: 600px;
  }

  .heroTitle {
    font-size: 52px;
  }

  .destinations {
    max-width: 1200px;
    margin: auto;
  }
}
