@import "../../styles/colors.scss";

.hero {
  background-image: url("https://cdn-image.departures.com/sites/default/files/1545062596/quiraing-trotternish-landscape-isle-skye-scotland-uk-SCOT1218.jpg");
  border: 0;
  height: 500px;
  margin: 0;
  display: flex;
  padding: 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background-size: cover;
  background-position: center center;
  color: $white;
}

.heroTitle {
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  text-align: center;
}

.actions {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.actionSeparator {
  font-size: 20px;
  margin: 16px 0;
}

.inspireButton {
  font-size: 16px;
  border: 2px solid $white;
  color: $white;
  background-color: rgba(50, 50, 50, 0.5);
  padding: 12px 45px;
  cursor: pointer;
}

.inspireButton:hover {
  background-color: $white;
  color: $dark-grey;
}

.destinations {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
}

@media only screen and (min-width: 600px) {
  .destinations {
    padding: 5px;
  }
}

@media only screen and (min-width: 800px) {
  .hero {
    height: 600px;
    justify-content: center;
  }

  .heroTitle {
    font-size: 52px;
    margin-top: 0;
  }

  .destinations {
    max-width: 1200px;
    margin: auto;
  }

  .actions {
    flex-flow: row;
  }

  .actionSeparator {
    margin: 0 32px;
  }

  .inspireButton {
    font-size: 20px;
  }
}
