@import "../../styles/colors.scss";

.destination-search__control {
  height: 46px;
  width: 225px;
  outline: 0px;
  color: $dark-grey;
  padding: 5px 25px;
  border: none !important;
  border-radius: 0 !important;
  cursor: text !important;
}

.destination-search__indicators {
  display: none !important;
}

.destination-search__menu {
  color: $dark-grey;
  border-radius: 0 !important;
  margin-top: 0 !important;
}

.destination-search__menu-list {
  padding: 0 !important;
}

.destination-search__option {
  cursor: pointer !important;
  border-bottom: solid silver 1px;
}

.destination-search__option:last-of-type {
  border-bottom: none;
}

@media only screen and (min-width: 800px) {
  .destination-search__control {
    font-size: 18px;
    height: 51px;
    width: 256px;
  }
}
