.destinationCardWrapper {
  width: 100%;
  margin: 10px 0;
  text-decoration: none;
  /* width: calc(50vw - 28px);
  margin: 10px; */
}

@media only screen and (min-width: 600px) {
  .destinationCardWrapper {
    margin: 5px;
    width: calc(50vw - 23px);
  }
}

.destinationCard {
  height: 225px;
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;
  position: relative;
}

.destinationNameWrapper {
  background: rgba(0, 0, 0, 0.4);
  padding: 5px 20px;
  position: absolute;
  bottom: 25%;
}

.destinationName {
  color: #fff;
  margin: 0;
  margin-left: 10px;
}
