@import "../../styles/colors.scss";

.hero {
  display: flex;
  height: 350px;
  align-items: center;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: $white;
}

.heroTitle {
  font-weight: bold;
  font-size: 50px;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.items {
  display: flex;
  flex-wrap: wrap;
  // padding: 10px 0;
}

@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 800px) {
  .hero {
    height: 480px;
  }

  .items {
    max-width: 1200px;
    margin: auto;
  }
}
