@import "../../styles/colors.scss";

.hero {
  display: flex;
  height: 480px;
  align-items: center;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: $white;
}

.heroTitle {
  font-weight: bold;
  font-size: 50px;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
