@import "../../styles/colors.scss";

.hero {
  display: flex;
  height: 350px;
  align-items: center;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: $white;
}

.heroTitle {
  font-weight: bold;
  font-size: 50px;
  width: 100%;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.controls {
  display: flex;
  padding: 10px;
}
.mapToggle {
  margin-left: auto;
}

.contentWrapper {
  padding-bottom: 10px;
}

.itemsWrapper {
  position: relative;
}

.items {
  display: flex;
  flex-wrap: wrap;
}

.mapWrapper {
  height: calc(100vh - 41px);
}

.itemDetailsWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $white;
  padding: 0 10px;
}

// @media only screen and (min-width: 600px) {
// }

@media only screen and (min-width: 800px) {
  .hero {
    height: 480px;
  }

  .contentWrapper {
    max-width: 1200px;
    margin: auto;
  }

  .itemsWrapper.openMap {
    display: flex;
  }

  .items.openMap {
    width: calc(100% - 350px);
  }

  .mapWrapper {
    height: calc(100vh - 10px);
    width: 350px;
    margin-top: 5px;
  }

  .itemDetailsWrapper {
    position: relative;
  }
}

@media only screen and (min-width: 1200px) {
  .items.openMap {
    width: calc(100% - 500px);
  }

  .mapWrapper {
    width: 500px;
  }
}
